---
name: Publish package to PyPI

on:  # yamllint disable-line rule:truthy
  release:
    types:
      - published

jobs:
  build:
    name: Build distribution packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v4
      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install pypa/build
        run: |
          python -m pip install --user build
      - name: Build packages
        run: |
          pyproject-build
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  publish-to-test-pypi:
    name: Publish packages to Test PyPI
    runs-on: ubuntu-latest
    needs:
      - build
    environment: test-pypi
    permissions:
      # this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
      - name: Publish packages to Test PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          print-hash: true
